/* Your CSS file, e.g., SiteCard.css */

.site-card {
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 5px;
padding: 20px;
margin: 20px;
text-align: left;
width: 300px;
height: 400px;
}

.site-card h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
  margin-bottom: 10px;
}

.site-card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px
}

.site-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.site-card p.estimated-budget {
  font-weight: bold;
  color: #007bff;
}
